body {
    background-color: darkslategray;
    color: antiquewhite;
}

#body-wrapper {
    margin-top: 50px;
}

.form-input {
    margin: 10px 10px 10px 0px;
}

#user-name {
    margin-left: 10px;
}

#error-message {
    color: red;
}

#leaderboard-wrapper {
    margin-top: 60px;
}